<form #form="ngForm" (ngSubmit)="login(form)" class="form-login">
  <div class="control">
    <label for="email">E-mail</label>
    <input
      id="email"
      name="email"
      type="text"
      placeholder="email"
      #sn
      [(ngModel)]="email"
    />
  </div>

  <div class="control">
    <label for="senha">Senha</label>
    <input
      id="senha"
      name="senha"
      type="password"
      placeholder="senha"
      #em
      [(ngModel)]="senha"
    />
  </div>

  <button type="submit" class="button-enter">Entrar</button>
</form>
